Django>=5.2.8,<6.0
psycopg[binary]>=3.1.12,<4
python-dotenv>=1.0,<2
dj-database-url>=2.2,<3
whitenoise>=6.7,<7
PyYAML>=6.0,<7
openpyxl>=3.1,<4
Pillow>=11.3,<13
sentry-sdk>=2.0,<3
vercel_blob>=0.4,<1
requests>=2.32,<3
